<app-dashboard></app-dashboard>

<div id="registration-main-div">
    <div id="registration">
        <div class="registration-form">
            <!-- <div *ngIf = "saveStatus">Saved successfully!!!</div>
            <div><span class="greyColor width160">Seller</span>: <input [(ngModel)] = "sellerName" class= "marginLeft10" type="text" placeholder="Seller"><br><br></div>
            <div><span class="greyColor width160">Buyer</span>: <input [(ngModel)] = "buyerName" class= "marginLeft10" type="text" placeholder="Buyer"><br><br></div>
            <div><span class="greyColor width160">Price</span>: <input [(ngModel)] = "price" class= "marginLeft10" type="text" placeholder="Price"><br><br></div>
            <div><span class="greyColor width160"> Survey Number</span>: <input [(ngModel)] = "surveyNumber" class= "marginLeft10" type="text" placeholder="Survey Number"><br><br></div>
            <div><span class="greyColor width160">Property Address</span>: <input [(ngModel)] = "propertyAddress" class= "marginLeft10" type="text" placeholder="Property Address"><br><br></div>
            <div><span class="greyColor width160"> Property Type</span>: <input [(ngModel)] = "propertyType" class= "marginLeft10" type="text" placeholder="Property Type"><br><br></div>
            <button (click)="register()" class="btn btn-primary" style="margin-left: 120px;">Save</button>
            <button (click)="cancel()" class="btn btn-primary" style="margin-left: 60px;">Cancel</button> -->

            <div *ngIf="saveStatus" class="successMessageDiv">Saved successfully!!!</div>
            <div *ngIf="!saveStatus && submitted" class="failureMessageDiv">{{errorMessage}}</div>

            <form [formGroup]="registrationForm">

                <div class="form-group">
                    <span class="greyColor width160">Seller</span>: <input [(ngModel)]="sellerName" type="text"
                        placeholder="Seller" formControlName="sellerName" class="form-control marginLeft10"
                        [ngClass]="{ 'is-invalid': submitted && f.sellerName.errors }">
                    <!-- <div *ngIf="submitted && f.sellerName.errors" class="invalid-feedback">
                        <div *ngIf="f.sellerName.errors.required">Seller Name is required</div>
                    </div> -->
                    <br>
                </div>
                <div class="form-group">
                    <span class="greyColor width160">Seller Aadhar Id</span>: <input
                        [(ngModel)]="sellerSocialInsuranceNumber" type="text" placeholder="Seller Aadhar Id"
                        formControlName="sellerSocialInsuranceNumber" class="form-control marginLeft10"
                        [ngClass]="{ 'is-invalid': submitted && f.sellerSocialInsuranceNumber.errors }">
                    <!-- <div *ngIf="submitted && f.sellerSocialInsuranceNumber.errors" class="invalid-feedback">
                        <div *ngIf="f.sellerSocialInsuranceNumber.errors.required">Seller SIN is required</div>
                    </div> -->
                    <br>
                </div>
                <div class="form-group">
                    <span class="greyColor width160">Seller Phone</span>: <input [(ngModel)]="sellerPhone" type="text"
                        placeholder="Seller Phone" formControlName="sellerPhone" class="form-control marginLeft10"
                        [ngClass]="{ 'is-invalid': submitted && f.sellerPhone.errors }">
                    <br>
                </div>
                <div class="form-group">
                    <span class="greyColor width160">Buyer</span>: <input [(ngModel)]="buyerName" type="text"
                        placeholder="Buyer" formControlName="buyerName" class="form-control marginLeft10"
                        [ngClass]="{ 'is-invalid': submitted && f.buyerName.errors }">
                    <!-- <div *ngIf="submitted && f.buyerName.errors" class="invalid-feedback">
                        <div *ngIf="f.buyerName.errors.required">Buyer Name is required</div>
                    </div> -->
                    <br>
                </div>
                <div class="form-group">
                    <span class="greyColor width160">Buyer Aadhar Id</span>: <input
                        [(ngModel)]="buyerSocialInsuranceNumber" type="text" placeholder="Buyer Aadhar Id"
                        formControlName="buyerSocialInsuranceNumber" class="form-control marginLeft10"
                        [ngClass]="{ 'is-invalid': submitted && f.buyerSocialInsuranceNumber.errors }">
                    <!-- <div *ngIf="submitted && f.buyerSocialInsuranceNumber.errors" class="invalid-feedback">
                        <div *ngIf="f.buyerSocialInsuranceNumber.errors.required">Buyer SIN is required</div>
                    </div> -->
                    <br>
                </div>
                <div class="form-group">
                    <span class="greyColor width160">Buyer Phone</span>: <input [(ngModel)]="buyerPhone" type="text"
                        placeholder="Buyer Phone" formControlName="buyerPhone" class="form-control marginLeft10"
                        [ngClass]="{ 'is-invalid': submitted && f.buyerPhone.errors }">
                    <br>
                </div>
                <div class="form-group">
                    <span class="greyColor width160">Price</span>: <input [(ngModel)]="price" type="text"
                        placeholder="Price" formControlName="price" class="form-control marginLeft10"
                        [ngClass]="{ 'is-invalid': submitted && f.price.errors }">
                    <!-- <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                        <div *ngIf="f.price.errors.required">Price is required</div>
                    </div> -->
                    <br>
                </div>
                <div class="form-group">
                    <span class="greyColor width160">Survey Number</span>: <input [(ngModel)]="surveyNumber" type="text"
                        placeholder="Survey Number" formControlName="surveyNumber" class="form-control marginLeft10"
                        [ngClass]="{ 'is-invalid': submitted && f.surveyNumber.errors }">
                    <!-- <div *ngIf="submitted && f.surveyNumber.errors" class="invalid-feedback">
                        <div *ngIf="f.surveyNumber.errors.required">Survey Number is required</div>
                    </div> -->
                    <br>
                </div>
                <div class="form-group">
                    <span class="greyColor width160">Property State</span>:
                    <select [(ngModel)]="propertyAddressState" type="text" placeholder="Property Province"
                        formControlName="propertyAddressState" class="form-control marginLeft10"
                        [ngClass]="{ 'is-invalid': submitted && f.propertyAddressState.errors }">

                        <option [ngValue]="null">State</option>
                        <option *ngFor="let state of india_states" value={{state.name}}>
                            {{state.name}}
                        </option>

                    </select>

                </div>
                <div class="form-group">
                    <span class="greyColor width160">Property City</span>:
                    <select [(ngModel)]="propertyAddressCity" type="text" placeholder="Property City"
                        formControlName="propertyAddressCity" class="form-control marginLeft10"
                        [ngClass]="{ 'is-invalid': submitted && f.propertyAddressCity.errors }">
                        <option [ngValue]="null">City</option>
                        <option *ngFor="let city of populteDistricts()" value={{city}}>
                            {{city}}
                        </option>
                    </select>
                    <br>
                </div>





                <div class="form-group">
                    <span class="greyColor width160">Property Type</span>:
                    <!-- <input [(ngModel)]="propertyType" type="text"
                        placeholder="Property Type" formControlName="propertyType" class="form-control marginLeft10"
                        [ngClass]="{ 'is-invalid': submitted && f.propertyType.errors }"> -->



                    <select [(ngModel)]="propertyType" type="text" placeholder="Property Type"
                        formControlName="propertyType" class="form-control marginLeft10"
                        [ngClass]="{ 'is-invalid': submitted && f.propertyType.errors }">
                        <option [ngValue]="null">Property Type</option>
                        <option value="Agriculturial Land">Agriculturial Land</option>
                        <option value="Apartment">Apartment</option>
                        <option value="Flat">Flat</option>
                        <option value="Individual House">Individual House</option>
                        <option value="Plot">Plot</option>
                    </select>


                    <br>
                </div>

                <div class="marginTop30 textAlignCenter paddingBottom20">
                    <button (click)="register()" class="btn btn-primary marginRight10 col-sm-3">Save</button>
                    <button (click)="cancel()" class="btn btn-primary marginLeft10 col-sm-3">Cancel</button>
                </div>
            </form>


        </div>
    </div>
</div>