#advertisements {
    margin: 0 auto;
    max-width: 65rem;
    margin-left: 5%;
    width: 100%;
    margin-top: 15px;
}

.search-btn {
    width: 90px;
    background-color: #427ABA;
    border-color: #427ABA;
}

.trash-icon {
    max-width: 20px;
    max-height: 20px;
}