


<div style = "padding-bottom: 10px;" class="fixed-bottom1">
    <div class="row footer col-lg-12 col-md-12">
      <div class="left-div col-sm-7">
        <span><a href="https://www.lakeheadu.ca/" target="_blank">Contact Us</a></span>
        <span><a href="https://www.lakeheadu.ca/" target="_blank">Terms of Use</a></span>
        <span><a href="https://www.lakeheadu.ca/" target="_blank">Privacy Policy</a></span>
      </div>
      <div class="footer-text col-lg-5 col-md-5 col-sm-12">
        <span class="right marginRight30">2020 Property Registration using Blockchain</span>
      </div>
    </div>
  </div> 

   
  

  